.noticon {
  font-size: 16px;
  vertical-align: top;
  text-align: center;
  -moz-transition: color .1s ease-in 0;
  -webkit-transition: color .1s ease-in 0;
  display: inline-block;
  font-family: "Noticons";
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  speak: none;
}

.noticon-404:before {
  content: "";
}

.noticon-activity:before {
  content: "";
}

.noticon-add:before {
  content: "";
}

.noticon-add-media:before {
  content: "";
}

.noticon-akismet:before {
  content: "";
}

.noticon-anchor:before {
  content: "";
}

.noticon-art:before {
  content: "";
}

.noticon-aside:before {
  content: "";
}

.noticon-atsign:before {
  content: "";
}

.noticon-attachment:before {
  content: "";
}

.noticon-audio:before {
  content: "";
}

.noticon-automattic:before {
  content: "";
}

.noticon-automattic-blip:before {
  content: "";
}

.noticon-automattic-ring:before {
  content: "";
}

.noticon-bell:before {
  content: "";
}

.noticon-bold:before {
  content: "";
}

.noticon-book:before {
  content: "";
}

.noticon-bug:before {
  content: "";
}

.noticon-bullhorn:before {
  content: "";
}

.noticon-bullseye:before {
  content: "";
}

.noticon-cart:before {
  content: "";
}

.noticon-category:before {
  content: "";
}

.noticon-chat:before {
  content: "";
}

.noticon-checkmark:before {
  content: "";
}

.noticon-close:before {
  content: "";
}

.noticon-close-alt:before {
  content: "";
}

.noticon-cloud:before {
  content: "";
}

.noticon-cloud-download:before {
  content: "";
}

.noticon-cloud-upload:before {
  content: "";
}

.noticon-code:before {
  content: "";
}

.noticon-codepen:before {
  content: "";
}

.noticon-cog:before {
  content: "";
}

.noticon-collapse:before {
  content: "";
}

.noticon-colors:before {
  content: "";
}

.noticon-comment:before {
  content: "";
}

.noticon-compact:before {
  content: "";
}

.noticon-day:before {
  content: "";
}

.noticon-digg:before {
  content: "";
}

.noticon-document:before {
  content: "";
}

.noticon-dot:before {
  content: "";
}

.noticon-downarrow:before {
  content: "";
}

.noticon-download:before {
  content: "";
}

.noticon-draggable:before {
  content: "";
}

.noticon-dribbble:before {
  content: "";
}

.noticon-dropbox:before {
  content: "";
}

.noticon-dropdown:before {
  content: "";
}

.noticon-dropdown-left:before {
  content: "";
}

.noticon-edit:before {
  content: "";
}

.noticon-ellipsis:before {
  content: "";
}

.noticon-eventbrite:before {
  content: "";
}

.noticon-expand:before {
  content: "";
}

.noticon-external:before {
  content: "";
}

.noticon-facebook:before {
  content: "";
}

.noticon-facebook-alt:before {
  content: "";
}

.noticon-fastforward:before {
  content: "";
}

.noticon-features:before {
  content: "";
}

.noticon-feed:before {
  content: "";
}

.noticon-flag:before {
  content: "";
}

.noticon-flickr:before {
  content: "";
}

.noticon-follow:before {
  content: "";
}

.noticon-following:before {
  content: "";
}

.noticon-fonts:before {
  content: "";
}

.noticon-foursquare:before {
  content: "";
}

.noticon-fullscreen:before {
  content: "";
}

.noticon-gallery:before {
  content: "";
}

.noticon-ghost:before {
  content: "";
}

.noticon-gift:before {
  content: "";
}

.noticon-github:before {
  content: "";
}

.noticon-googleplus:before {
  content: "";
}

.noticon-googleplus-alt:before {
  content: "";
}

.noticon-gravatar:before {
  content: "";
}

.noticon-gridview:before {
  content: "";
}

.noticon-handset:before {
  content: "";
}

.noticon-heart:before {
  content: "";
}

.noticon-help:before {
  content: "";
}

.noticon-hide:before {
  content: "";
}

.noticon-hierarchy:before {
  content: "";
}

.noticon-home:before {
  content: "";
}

.noticon-horizon:before {
  content: "";
}

.noticon-image:before {
  content: "";
}

.noticon-info:before {
  content: "";
}

.noticon-instagram:before {
  content: "";
}

.noticon-italic:before {
  content: "";
}

.noticon-jetpack:before {
  content: "";
}

.noticon-key:before {
  content: "";
}

.noticon-layouts:before {
  content: "";
}

.noticon-leftarrow:before {
  content: "";
}

.noticon-lightbulb:before {
  content: "";
}

.noticon-link:before {
  content: "";
}

.noticon-linkedin:before {
  content: "";
}

.noticon-linkedin-alt:before {
  content: "";
}

.noticon-localization:before {
  content: "";
}

.noticon-location:before {
  content: "";
}

.noticon-lock:before {
  content: "";
}

.noticon-mail:before {
  content: "";
}

.noticon-maximize:before {
  content: "";
}

.noticon-medium:before {
  content: "";
}

.noticon-menu:before {
  content: "";
}

.noticon-microphone:before {
  content: "";
}

.noticon-milestone:before {
  content: "";
}

.noticon-minimize:before {
  content: "";
}

.noticon-minus:before {
  content: "";
}

.noticon-month:before {
  content: "";
}

.noticon-move:before {
  content: "";
}

.noticon-next:before {
  content: "";
}

.noticon-notice:before {
  content: "";
}

.noticon-notification:before {
  content: "";
}

.noticon-paintbrush:before {
  content: "";
}

.noticon-path:before {
  content: "";
}

.noticon-pause:before {
  content: "";
}

.noticon-phone:before {
  content: "";
}

.noticon-picture:before {
  content: "";
}

.noticon-pinned:before {
  content: "";
}

.noticon-pinterest:before {
  content: "";
}

.noticon-pinterest-alt:before {
  content: "";
}

.noticon-play:before {
  content: "";
}

.noticon-plugin:before {
  content: "";
}

.noticon-plus:before {
  content: "";
}

.noticon-pocket:before {
  content: "";
}

.noticon-polldaddy:before {
  content: "";
}

.noticon-portfolio:before {
  content: "";
}

.noticon-previous:before {
  content: "";
}

.noticon-price:before {
  content: "";
}

.noticon-print:before {
  content: "";
}

.noticon-promoted:before {
  content: "";
}

.noticon-quote:before {
  content: "";
}

.noticon-rating-empty:before {
  content: "";
}

.noticon-rating-full:before {
  content: "";
}

.noticon-rating-half:before {
  content: "";
}

.noticon-reader:before {
  content: "";
}

.noticon-reader-alt:before {
  content: "";
}

.noticon-reblog:before {
  content: "";
}

.noticon-reddit:before {
  content: "";
}

.noticon-refresh:before {
  content: "";
}

.noticon-reply:before {
  content: "";
}

.noticon-reply-alt:before {
  content: "";
}

.noticon-reply-single:before {
  content: "";
}

.noticon-rewind:before {
  content: "";
}

.noticon-rightarrow:before {
  content: "";
}

.noticon-search:before {
  content: "";
}

.noticon-send-to-phone:before {
  content: "";
}

.noticon-send-to-tablet:before {
  content: "";
}

.noticon-share:before {
  content: "";
}

.noticon-show:before {
  content: "";
}

.noticon-shuffle:before {
  content: "";
}

.noticon-sitemap:before {
  content: "";
}

.noticon-skip-ahead:before {
  content: "";
}

.noticon-skip-back:before {
  content: "";
}

.noticon-skype:before {
  content: "";
}

.noticon-spam:before {
  content: "";
}

.noticon-spike:before {
  content: "";
}

.noticon-spotify:before {
  content: "";
}

.noticon-squarespace:before {
  content: "";
}

.noticon-standard:before {
  content: "";
}

.noticon-star:before {
  content: "";
}

.noticon-status:before {
  content: "";
}

.noticon-stop:before {
  content: "";
}

.noticon-stumbleupon:before {
  content: "";
}

.noticon-subscribe:before {
  content: "";
}

.noticon-subscribed:before {
  content: "";
}

.noticon-summary:before {
  content: "";
}

.noticon-tablet:before {
  content: "";
}

.noticon-tag:before {
  content: "";
}

.noticon-time:before {
  content: "";
}

.noticon-title:before {
  content: "";
}

.noticon-top:before {
  content: "";
}

.noticon-trapper:before {
  content: "";
}

.noticon-trash:before {
  content: "";
}

.noticon-trophy:before {
  content: "";
}

.noticon-tumblr:before {
  content: "";
}

.noticon-twitch:before {
  content: "";
}

.noticon-twitter:before {
  content: "";
}

.noticon-types:before {
  content: "";
}

.noticon-unapprove:before {
  content: "";
}

.noticon-unfollow:before {
  content: "";
}

.noticon-unsubscribe:before {
  content: "";
}

.noticon-unzoom:before {
  content: "";
}

.noticon-uparrow:before {
  content: "";
}

.noticon-user:before {
  content: "";
}

.noticon-vaultpress:before {
  content: "";
}

.noticon-video:before {
  content: "";
}

.noticon-videocamera:before {
  content: "";
}

.noticon-vimeo:before {
  content: "";
}

.noticon-warning:before {
  content: "";
}

.noticon-website:before {
  content: "";
}

.noticon-week:before {
  content: "";
}

.noticon-wordads:before {
  content: "";
}

.noticon-wordpress:before {
  content: "";
}

.noticon-xpost:before {
  content: "";
}

.noticon-youtube:before {
  content: "";
}

.noticon-zoom:before {
  content: "";
}

.noticon-like:before {
  content: "";
}

